.Discover-box{
 background-color: #090706;
 width: 100%;
 height: 700px;
display: flex;
align-items: center;
}
.discover-img{
    width: 731px;
    height: 476px;
    background-image: url('./DSC_0144_edited.jpg');
    background-size: cover;
}
.Discover-content{
    
    padding: 40px;
    width: 50%;
    height: 370px;
    

}
.Discover-content h5{
    color: #49E8FF;
}
.Discover-content h1{
    color:white;
    font-size: 50px;
}
.Discover-content p{
    font-size: 20px;
}
.Discover-content button{
    padding: 13px;
    background-color: black;
    color: white;
    border: 2px solid #49E8FF;
}