
.blogs{
 
  width: 100%;
  height: auto;

  background-color:#090706;
color: white;

}


.blog-texts {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 50px;

 
}

.blog-texts p{
  margin-top: 40px;
  font-size: 15px;
color:#49e8ff;

}
.blog-texts  h1{
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;

}

.blog-texts h5{
  font-size: 15px;
}
.box{
  display: flex;
  /* gap: 55px; */
}

.containers {
  width: 350px;
  height: 500px;
  margin-top: 20px; 
  display: flex;
 color: black;
 padding: 45px;
 

}

.post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 20px 0px #49e8ff;


}

.box{
  display: flex;
  align-items: center;
  justify-content:center ;
}

    &:hover {
      .header_post {
        margin-top: -20px;
      }

      .body_post {
        height: 50%;
      }
       
       img {
          transform: translatey(-10px) translatex(-5px) scale(1.05)

       }
    }

    .header_post {
      width: 100%;
      height: 40%;
      background: #ddd;
      position: absolute;
      top: 0;
      -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;

      img {
        max-width: 100%;
        height: auto;
         transition: ease-in-out 600ms;
      }
    }

    .body_post {
      width: 100%;
      height: 60%;
      background: #fff;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      cursor: pointer;


      .post_content {
        width: 80%;
        height: 70%;
        background: #fff;
        position: relative;
        

        h1 {
          font-size: 20px;
          font-weight: bold;
          color: black;
        }

        p {
          font-size: 14px;
          font-weight: normal;
         
        }

        .container_infos {
          width: 100%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 0;
          border-top: 1px solid rgba(0, 0, 0, .2);
          padding-top: 25px;

          .postedBy {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;

            span {
              font-size: 12px;
              text-transform: uppercase;
              opacity: 0.5;
              letter-spacing: 1px;
              font-weight: bold;
            }
          }

          .container_tags {
            display: flex;
            flex-direction: column;

            span {
              font-size: 12px;
              text-transform: uppercase;
              opacity: 0.5;
              letter-spacing: 1px;
              font-weight: bold;
            }

            .tags {
              ul {
                display: flex;
                li {
                  font-size: 12px;
                  letter-spacing: 2px;
                  list-style: none;
                  margin-left: 8px;
                  text-transform: uppercase;
                  position: relative;
                  z-index: 1;
                  display: flex;
                  justify-content: center;
                  cursor: pointer;

                  &:first-child {
                    margin-left: 0px;
                  }

                  &:before {
                    content: '';
                    text-align: center;
                    width: 100%;
                    height: 5px;
                    background: #FC6042;
                    opacity: 0.5;
                    position: absolute;
                    bottom: 0;
                    z-index: -1;
                    padding: 0px 1px;
      -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                  }

                  &:hover:before {
                    height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  





@keyframes top {
  0% {
    opacity: 0;
     bottom: -80px
  }
  100% {
    opacity: 1;
     bottom: 0px

  }
}

@keyframes icon {
  0% {
    opacity: 0;
     transform: scale(0.0);
  }
   50% {
      opacity: 1;
     transform: scale(1.3) rotate(-02deg);
      
   }
  100% {
    opacity: 1;
     bottom: 0px;
  }
}
.container:hover .header_post {
  margin-top: -20px;
}

.container:hover .body_post {
  height: 50%;
}

.container:hover img {
  transform: translatey(-10px) translatex(-5px) scale(1.05);
}

.viewall{
  background-color: black;
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 10px;
  margin-right: 25px;
  margin-bottom: 25px;
  border: 1px solid white;
  transition: 0.8s;
}
.viewall:hover{
  color: black;
  background-color: white;
  transition: 0.8s;
  box-shadow: 0px 0px 20px 0px #49e8ff;
}